body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    height: 100vh; /* Ensure full viewport height */
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.topnav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.logo img {

    width: 50px; /* Set a fixed width for the logo */
    height: auto; /* Maintain aspect ratio */
    padding: 5px; /* Add padding around the logo */
    vertical-align: middle; /* Align the logo with the text (optional) */}

.logo {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
      }

.title_container {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 8px;
    width: 700px;
    margin: auto;
    margin-top: 0px; /* Center the container in the remaining space */
    align-items: center;
    text-align: center;
    }

.description_container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    margin: auto; /* Center the container in the remaining space */
    text-align: center;
    }

.check_in_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto; /* Center the container in the remaining space */
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #eb2b6b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d71d67;
}

.menu {
    display: flex; /* Makes the menu links inline */
gap: 15px; /* Adds spacing between the links */
}
.menu a {
color: white;
text-decoration: none;
padding: 10px;
}

.menu a:hover {
background-color: #ddd;
color: black;
}