<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
</head>
<body>
    <div class="topnav">
        <div class="logo">
            <img src="/static/images/1200x600wa4.png" alt="Makers BnB Logo">
            <div class="logo-text">
                <img src="/static/images/Makers_bnb_text.png" alt="Makers BnB Text">
            </div>
        </div>
        <div class="menu">
            <a href="/index">
            <div class="logo-text">
                <img src="/static/images/All homes.png" alt="All homes img">
            </div>
            </a>
            <a href="/all_requests">
                <div class="logo-text">
                    <img src="/static/images/request.png" alt="Request img">
                </div>
            </a>
            <a href="/logout">
                <div class="logo-text">
                    <img src="/static/images/Logout.png" alt="Logout img">
                </div>
            </a>
        </div>
    </div>

    <div class="top_border"></div>

    <div class="container">
        <h1 class="a-heading">Requests</h1>
        <div class="requests-container">
            <!-- Requests Made -->
            <div class="request-list">
                <h2>Requests Made</h2>
                {% if requests_made %}
                    {% for request in requests_made %}
                        <div class="request-m-item">
                            <p><strong>Home:</strong> {{ request['home_title'] }}</p>
                            <p><strong>Status:</strong> {{ request['status'] }}</p>
                            <p><strong>Start Date:</strong> Date: {{ request['start_date'] }}</p>
                            <p><strong>End Date:</strong> Date: {{ request['end_date'] }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No requests made.</p>
                {% endif %}
            </div>
        
            <!-- Requests Received -->
            <div class="request-list">
                <h2>Requests Received</h2>
                {% if requests_received %}
                    {% for request in requests_received %}
                        <div class="request-r-item" onclick="location.href='/auth_request/{{ request.request_id }}';"> 
                            <p><strong>Home:</strong> {{ request['home_title'] }}</p>
                            <p><strong>Status:</strong> {{ request['status'] }}</p>
                            <p><strong>Start Date:</strong> Date: {{ request['start_date'] }}</p>
                            <p><strong>End Date:</strong> Date: {{ request['end_date'] }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No requests received.</p>
                {% endif %}
            </div>
        </div>
        <!-- Listings Section -->
        <h2 class="a-heading">Your Listings</h2>
        {% if homes %}
            {% for home in homes|reverse %}
                <article class="individual-home">
                    <div>
                        <a href="/show_home/{{ home.id }}">{{ home.title }}</a>
                        <p class="t-description">Description: {{ home.description }}</p>
                        <p class="t-location">Location: {{ home.location }}</p>
                        <p class="t-price">Price per night: £{{ home.price_per_night }}</p>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <p>You have no listings.</p>
        {% endif %}
    </div>
</body>
</html>