<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to MakersBnB!</title>
    <meta charset="utf-8">
</head>
<body>
    <div class="container">
        <h1>Create A MakersBnB Account</h1>
        <form action="/create_account" method="post">
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>
                <label for="email">Enter email:</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="username">Enter username:</label>
                <input type="text" name="username" id="username" required>
            </p>
            <p>
                <label for="password">Enter password:</label>
                <input type="password" name="password" id="password" required>
            </p>
            <p>
                <input type="submit" value="Create Account">
            </p>
        </form>
        <form action="/login" method="get">
            <button type="submit">Back to Login</button>
          </form>
    </div>
</body>
</html>