<!DOCTYPE html>
<html lang="en">
<head>
<title>Welcome to Chitter!</title>
<meta charset="utf-8">
</head>


<div class="topnav">
  <a href="/MakersBnB/index">All Homes</a>
  <a href="/MakersBnB/all_requests">Requests</a>
  <!-- <a href="/MakersBnB/logout">Logout</a> -->
</div>
<body>
    {% if session['users_id'] %}
  Welcome, {{ session['username'] }}</h1>



  {% for home in homes|reverse %}
  <article class="individual-home">
    <div class="column">
      <p class="t-title">"{{ home.title }}"</p>
      <p class="t-description">{{ home.description }} </p>
        <p class="t-location">Location: {{ home.location }}</p>
        <p class="t-price">Price: £{{ home.price_per_night }}</p>
    </div>
  </article>
  {% endfor %}
</div>
{% else %}
  <h1>Please log in to access your dashboard.</h1>
  <a href="/MakersBnB/login">Login</a>
{% endif %}</h1>
</body>
</html>
