<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to MakersBnB!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
</head>
<body>

  <div class="topnav">
    <div class="logo">
      <img src="/static/images/1200x600wa4.png" alt="Makers BnB Logo">
      <div class="logo-text">
          <img src="/static/images/Makers_bnb_text.png" alt="Makers BnB Text">
      </div>
    </div>
    <div class="menu">
        <a href="/index">
        <div class="logo-text">
            <img src="/static/images/All homes.png" alt="All homes img">
        </div>
        </a>
        <a href="/all_requests">
            <div class="logo-text">
                <img src="/static/images/request.png" alt="Request img">
            </div>
        </a>
        {% if session['users_id'] %}
        <a href="/logout">
            <div class="logo-text">
                <img src="/static/images/Logout.png" alt="Logout img">
            </div>
        </a>
        {% endif %}
    </div>
  </div>

  <div class="top_border"></div>

  {% if session['users_id'] %}
  <div class="i-header-container">
  <h1 class="i-heading">Welcome, {{ session['username'] }}</h1>
  
  <div class="add-home">
    <a href="/create_home">+ Add New Home</a>
  </div>
</div>

<div class="i-container">
      {% for home in homes|reverse %}
      <div class="i-content_container">
        <div class="i-property_pic_container_main">
          <img src="/static/images/example_room.jpg" alt="example room">
        </div>
        <div class="i-title_container">
          <a href="/show_home/{{ home.id }}">{{ home.title }}</a>
        </div>
        <div class="i-description_container">
          <p>Description: {{ home.description }}</p>
          <p>Location: {{ home.location }}</p>
          <p>Price £{{ home.price_per_night }} / night</p>
        </div>
      </div>
      {% endfor %}

    {% else %}
      <h1 class="i-heading">Please log in to access your dashboard.</h1>
      <div class="add-home">
        <a href="/login">Login</a>
      </div>
    {% endif %}
  </div>
</body>
</html>
