<!DOCTYPE html>
<html lang="en">
<head>
    <title>MakersBnB - add a home!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
</head>
<body>
    <div class="topnav">
        <div class="logo">
            <img src="/static/MakersBnB_logo.png" alt="MakersBnB Logo"> MakersBnB
        </div>
        <div class="menu">
            <a href="/index">All Homes</a>
            <a href="/all_requests">Requests</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="title_container">
        <h1>Input the title of the home here</h1>
    </div>
    <div class="description_container">
        <p>Description: (Input description of home here)</p>
        <p>Location: (input location of home here)</p>
        <p>Price per night: (input price of home here)</p>
        <h1>Booked dates:</h1>
        {% for date in booked_dates %}
        <div class="booked_date">
            {{date}}
        </div>
        {% endfor %}
    <div class="check_in_container">
        <h1>Select your dates</h1>
        <form action="/book" method="POST">
            <label for="start-date">Check-in:</label>
            <input type="date" id="start-date" name="start_date" required>
            <label for="end-date">Check-out:</label>
            <input type="date" id="end-date" name="end_date" required>
            <button type="submit">Reserve Home</button>
        </form>
    </div>
    <div class="calendar container">
        {% for day in month %}
        <form action="/select_dates" method="POST"></form>
        <button type="button" value="{{day}}" class="button button2">{{day}}</button>
        {% endfor %}
    </div>
</body>
</html>